*{
    background-color: #231F20;
}
h2{
    
    color: cornflowerblue;
    
}

h1{
    font-size: 50px;
    color:black;
    text-align: center;
    margin: 9rem;
    margin-left: 40rem;
    text-align: justify;
    text-justify: inter-word;
    font-family:sans-serif;
    text-shadow: 2px 2px cornflowerblue;

}
h3{
   padding: 0;
   margin-left: 40rem;
   /* margin-top: 5rem; */
   margin-top: -80px;
   color:cadetblue;

}
.second{
 margin-left: 25rem;
 margin-top: -220px ;
 color: cornflowerblue;
}
